---
import Layout from '~/layouts/PageLayout.astro';
import {proseCSS} from '~/utils/apps.js';

const {frontmatter} = Astro.props;
const {title} = frontmatter;

const meta = {
	title: `${title} — Sindre Sorhus`,
};
---

<Layout {meta}>
	<section class="md:min-h-screen sm:px-6 mb-20 mx-auto max-w-3xl md:py-8">
		<main class={proseCSS}>
			<slot/>
		</main>
	</section>
</Layout>
