---
import MarkdownIt from 'markdown-it';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
import {fetchApps} from '~/utils/apps.js';

const parser = new MarkdownIt({
	html: true,
	linkify: true,
	typographer: true,
});

const staticContent = `
# RSS Feeds

#### General

- [Blog](/rss.xml)
- [New Apps](/rss-apps.xml)
- [New Repos](/rss-repos.xml)

#### App Release Notes
`;

const apps = await fetchApps({includeUnlisted: true});

const appsWithReleases = apps
	.filter(app => app.releasesRepo)
	.sort((a, b) => a.title.localeCompare(b.title));

const frontmatter = {
	title: 'RSS Feeds',
};
---

<MarkdownLayout frontmatter={frontmatter}>
	<div set:html={parser.render(staticContent)}/>
	<ul>
		{appsWithReleases.map(app => (
			<li><a href={`/${app.slug}/rss.xml`}>{app.title}</a></li>
		))}
	</ul>
</MarkdownLayout>
