---
import {Icon} from 'astro-iconify';
import {iconLinkCSS} from '~/utils/utils.js';
---

<footer class="border-t border-gray-200 dark:border-slate-800" data-nosnippet>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
			<ul class="justify-center flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
				<li>
					<a
						href="https://x.com/sindresorhus"
						rel="me"
						aria-label="X (Twitter)"
						class={iconLinkCSS}
					>
						<Icon name="tabler:brand-x" class="w-5 h-5"/>
					</a>
				</li>
				<li>
					<a
						href="https://mastodon.social/@sindresorhus"
						rel="me"
						aria-label="Mastodon"
						class={iconLinkCSS}
					>
						<Icon name="tabler:brand-mastodon" class="w-5 h-5"/>
					</a>
				</li>
				<li>
					<a
						href="https://bsky.app/profile/sindresorhus.com"
						rel="me"
						aria-label="Bluesky"
						class={iconLinkCSS}
					>
						<Icon name="tabler:brand-bluesky" class="w-5 h-5"/>
					</a>
				</li>
				<li>
					<a
						href="https://instagram.com/sindresorhus"
						rel="me"
						aria-label="Instagram"
						class={iconLinkCSS}
					>
						<Icon name="tabler:brand-instagram" class="w-5 h-5"/>
					</a>
				</li>
				<li>
					<a
						href="https://unsplash.com/@sindresorhus"
						rel="me"
						aria-label="Unsplash"
						class={iconLinkCSS}
					>
						<Icon name="tabler:brand-unsplash" class="w-5 h-5"/>
					</a>
				</li>
				<li>
					<a
						class={iconLinkCSS}
						aria-label="GitHub"
						href="https://github.com/sindresorhus"
					>
						<Icon name="tabler:brand-github" class="w-5 h-5"/>
					</a>
				</li>
			</ul>
			<div class="hidden md:inline text-xs text-gray-700 mr-4 dark:text-slate-400">
				<q>The people who are crazy enough to think they can change the world are the ones who do</q>
			</div>
		</div>
	</div>
</footer>
