---
import {SITE} from '~/config.mjs';
import Layout from '~/layouts/BlogLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Pagination from '~/components/blog/Pagination.astro';
import {fetchPosts} from '~/utils/posts.js';
import {BLOG_BASE} from '~/utils/permalinks.js';

export async function getStaticPaths({paginate}) {
	let posts = await fetchPosts();
	posts = posts.filter(post => !post.unlisted);

	return paginate(posts, {
		params: {blog: BLOG_BASE || undefined},
		pageSize: SITE.blogPostsPerPage,
	});
}

const {page} = Astro.props;
const currentPage = page.currentPage ?? 1;

const meta = {
	title: `Blog ${currentPage > 1 ? `— Page ${currentPage} ` : ''}— ${SITE.name}`,
	description: SITE.description,
	ogType: 'blog',
	noindex: currentPage > 1,
};
---

<Layout {meta}>
	<!-- <Fragment slot="title">
		<span class="bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-secondary-500">Blog</span>
	</Fragment> -->
	<BlogList posts={page.data}/>
	<Pagination prevUrl={page.url.prev} nextUrl={page.url.next}/>
	<!-- TODO -->
	<!-- <iframe src="https://sindresorhus.substack.com/embed" frameborder="0" scrolling="no"></iframe> -->
</Layout>
